<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-com</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <script src="{{ url_for('static', filename='validation.js') }}"></script>
  <style>
    span
    {
      color:red;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Signup </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Category</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Feedback</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Orders</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Booking</a>
        </li>


      </ul>
      <form class="d-flex" role="search">

        <a class="btn btn-danger" href="{{ url_for('index') }}">Logout</a>
      </form>
    </div>
  </div>
</nav>
{% block body %}

{% endblock %}

</body>
</html>